img{
	max-width: 100%;
}

html{
	background-color: #828489;
}

button {
	background-color: #4D7EA8;
	border-radius: 6%;
}



#top-section{
	text-align: center;

}

/* Game stats go here */
#game-stats h2{
	color: green;
	text-align: center;
	display: inline-block;
	margin: 10px;
}

#game-stats p{
	text-align: center;
	display: inline-block;
}



#gold-collected{
	background-image: url("Images/treasure-chest-2.png");
	background-size: 100px 68px;
	height: 68px;
	width: 100px;
	line-height: 68px;

	color: gold;

}

#health{
	color: white;
	font-weight: 700;
	background-image: url("Images/heart38.png");
	background-size: 71px 68px;
	height: 68px;
	width: 71px;	
	line-height: 68px;

}
/* Text display and middle section go below */

#textDisplay{
	color: red;
}


#middle-section{
	text-align: center;
}

#text-section{
	text-align: center;
}

